<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spotilikes</title>
        <%- include('parts/boostraphead') %>
        <link rel="stylesheet" href="src\css\reception.css">
        <script src="src\js\reception.js" type="module"></script>
    </head>

    <body>
        <%- include('parts/header') %>
        <%- include('parts/caroussel') %>

        <%- include('parts/info_footer') %>
        <%- include('parts/footer') %>

    </body>
    
</html>